<!DOCTYPE html>
   <head>
	<title>VIPs RADIACTIVE MOTOR CONTROL</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css">
	<link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h1>A.M.M.S</h1>
		<div class = "displayed_section">
			<h2> Current Position </h2>
			<h3>   {{ currentPosition }} mm</h3>
			<h3> {{ (currentPosition/4)*200  }} steps</h3>
		</div>

			<h2> Control Position </h2>
			<div class="row">
				<a href="/move/lessOneMM" class="btn btn-primary">-1 mm</a>
				<a href="/move/plusOneMM" class="btn btn-primary">+1 mm</a>
			</div>
			<div class="row">
				<a href="/move/lessTenMM" class="btn btn-primary">-10 mm</a>
				<a href="/move/plusTenMM" class="btn btn-primary">+10 mm</a>
			</div>
			<div class="row">
				<a href="/move/gotoZero" class="btn btn-primary">Go To Zero</a>
			</div>
			<div class="row">
				<a href="/move/setZero" class="btn btn-primary">Set Zero</a>
			</div>
   </body>
</html>